@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}

span{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
p{
    padding: 1.6rem 0;
}
img{
    width: 100%;
    height: auto;
}
header{
    height: 46rem;
}
.bgimage{
    position: absolute;
    background-image: url("https://picsum.photos/id/211/600/400");
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
header h1{
    padding: 12rem;
    padding-bottom: 0;
    
}
.btn{
    display: inline;
    background:#333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    transition: all 0.4s;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}
#section-a{
    background-color:#eaeaea;
    color: #333;
    padding: 3.2rem;
}
#section-b{
    padding: 2rem;

}
#section-b ul{
    list-style: none;
}
#section-b li{
    background-color: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}
.col-content{
    padding: 1.5rem;
}